<p class="lead">
A small Swedish-based web development agency where we love turning genuine web ideas into <strong>solid</strong>, <stong>stunning</stong>, <strong>professional</strong> and <strong>scalable</strong> web applications. 
</p>
<p class="lead">
Among many of our apps you will find <a href="#" target="_blank">listwalk</a>, <a href="#" target="_blank">screenslump</a> and <a href="#" target="_blank">friendsure</a>.
</p>
<p>
Feeling for a chat? <a href="#">Merkur</a> would love to hear from you; whether you want to talk about our own projects or one of your own
</p>