<% content_for :meta_tags do %>
<title>Developing web ideas that excite &mdash; metsson</title>
<% end %>
<p class="lead">
We love turning genuine web ideas into <strong>solid</strong>, <stong>stunning</stong>, <strong>professional</strong> and <strong>scalable</strong> web applications. 
</p>
<p class="lead">
Among many of our apps you will find <a href="http://listwalk.com" target="_blank">listwalk</a>, <a href="http://screenslump.com" target="_blank">screenslump</a> and <a href="https://apps.facebook.com/friendsure" target="_blank">friendsure</a>.
</p>
<p>
Feeling for a chat? <a href="mailto:merkur@metsson.se">Merkur</a> would love to hear from you &ndash; whether you'd like to talk about our own projects or one of your own!
</p>