<div class="jumbotron landing-splash merkur animated bounceIn">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>
                Jag brinner för innovativa, smarta och upplevelserika webbplatser
            </h1>
            <p class="lead">
                Mitt intresse för webben föddes i början av 2008. På den tiden var Facebook ett relativt nytt koncept och själv fick jag tag på ett <em>communityscript</em> vilket hjälpte mig starta min första webbplats som växte med 1000 medlemmar. Resten är historia.
            </p>

            <section>
                <h3>Jag ville förstå mig på allting</h3>
                <p>
                    Min första webbplats började tjäna in en del pengar via annonsintäkter och precis som många unga webbentrepenörer ville jag vidareutveckla den med nya och spännande funktioner. Men min bristfälliga kunskap i webbutveckling satte oftast stopp och ledde till att jag outsourcade vidareutvecklingen.
                </p>
                <p>
                    Emellanåt, insåg jag att för att kunna driva framgångsrika så ska man åtminstone ha en grundläggande kunskap i hur en webbsida fungerar. Men istället för att börja där många webbutvecklare gör misstaget att börja &mdash; vilket oftast innebär att "pilla" med PHP-script &mdash; så beställde jag min första programmeringsbok om Java 6. 
                </p>
                <p>
                    Genom att lära mig grundläggande <em>objektorienterad programmering</em> så fick jag en större förståelse för hur man kan tillämpa dessa koncept i webbplatser för att ge en solid grund att stå på, oavsett hur stort webbplatsen blir. 
                </p>
                <h3>
                    En guldvärd utbildning
                </h3>
                <p>
                    Sedan dess har jag ständigt utvecklas och vunnit nya kunskaper om skalbar, användarvänlig och responsiv webbutveckling med hjälp av flertalet webbramverk och programmeringsspråk. Ett stort tack till all den kunskap jag sitter på idag går självfallet till <%= link_to "Linnéuniversitetet", "//lnu.se", title: "Linnéuniversitetet", target: "_blank" %>, vilka lärde mig framtidssäker webbutveckling men även hur jag alltid kan vara i teknikens framkant.
                </p>
                <h3>
                    Idag skapar jag fram det jag finner roligt, nyttigt och lukrativt.
                </h3>                
                <p class="lead">
                    Men vad gör man efter att ha ervunnit en så pass enorm kunskap? Jag sitter på tiotals affärsidéer som fortfarande bara finns på papper. Har redan genomfört en bråkdel av <%= link_to "dem", projects_path %> till fullt fungerande webbsidor och fortsätter att utveckla och ta fram nya webbprojekt.

                </p>
                <blockquote>
                    Jag har förmågan och kunskapen att omvandla ett tomt HTML-dokument till en komplex, multidimensionell affärsidé.
                </blockquote>                
                <p>
                    Metsson står inte bara för ett samlingsbegrepp för mina projekt, ett namn, utan även för en tjänst där jag erbjuder dig samma möjlighet att växa med dina webbidéer som jag själv gjort.
                    Jag har förmågan och kunskapen att omvandla ett tomt HTML-dokument till en komplex, multidimensionell affärsidé.
                </p>
                <p>
                Skillnaden nu är att den affärsidé jag omvandlar till en komplex webbplats kan vara <em>din</em>!
                </p>                
                <h4>
                    Jag älskar webbsnack på riktigt!
                </h4>
                <p>
                    Det kanske framstår som delvis enerverande att jag försöker få dig att ta kontakt med varje del av denna webbsida men det gör jag främst för att jag älskar när folk berättar sina visioner för mig - det är det bästa jag vet med att vara en frilansande webbutvecklare! Känslan av att vara ägare och driftansvarig av en livfull webbplats där du betjänar <em>hundratusentals</em> människor går ej att beskriva, utan måste upplevas.                     
                </p>
                <p>
                    Tillsammans kan vi se till att det blir verklighet av dina idéer. En win-win situation. Som frilansare kommer jag stoltsera med att jag har skapat din webbplats. Medan du som webbplatsägare kan avnjuta frukterna av nästa nätsuccé och veta att din webbplats alltid är ett telefonsamtal bort från vidareutveckling och support i <em>världsklass!</em>                    
                </p>
                <hr>
                <%= render "waiting_time", show_button: true %>
            </section>
        </div>

        <div class="col-md-3">
            <aside>
                <div class="quick-facts-about-merkur">
                    <p>
                        <strong>Programmering</strong><br>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p>
                        <strong>Webbdesign</strong><br>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>                    
                    <p>
                        <strong>Interaktionsdesign</strong><br>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>                    
                    <p>
                        <strong>Webbentrepenad</strong><br>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>                      
                    <p>
                        <strong>Illustration</strong><br>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </p>                                                            
                </div>
            </aside>
        </div>
    </div>
</div>