@font-face {
    font-family: 'MarketinScript';
    src: asset-url('MarketinScript.eot');
    src: asset-url('MarketinScript.eot?#iefix') format('embedded-opentype'),
        asset-url('MarketinScript.woff') format('woff'),
        asset-url('MarketinScript.ttf') format('truetype'),
        asset-url('MarketinScript.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}