.projects-item {
    margin-bottom: 25px;
}

.project-picture-gallery {
    padding: 35px 0;
}

@media screen and (max-width: 680px) {
    .project-picture-gallery ul {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 135px;
    white-space:nowrap
    }
}